/* Osnovni stilovi */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
}

header {
    position: sticky;
    top: 0;
}

main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

.lokacija {
    text-align: center;
    padding: 40px 20px;
}

.lokacija h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.lokacija p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.mapa {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

footer {
    background-color: lightpink;
    color: hotpink;
    text-align: center;
    padding: 20px;
}
ol{
    display: flex;
    list-style: none;
    background-color: lightpink;
    border: 1px solid black;
}
li{
    padding: 10px;
    font-size: 1.5em;
    font-family: cursive;
    color: hotpink;
}
a:hover{
    background-color: lightpink;
}
.logo{
    width: 100px;
    height: 100px;
}
a{
    text-decoration: none;
}
h2{
    color: lightpink;
}
p{
    color: lightpink;
}
.futer{
    color: hotpink;
}